<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link href="img/favicon.ico" rel="icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>

    <!-- <link href="flaticon.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <link href="assets/css/bootstrap-grid.min.css" rel="stylesheet">
</head>

<body>
{{>navbar}}
    <!--services area starts-->

    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center">
                        <h3>What we do?</h3>
                        <h2>Push Your Limits Forward</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="assets/img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Personal training</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
                            facilisis.</p>
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="assets/img/services-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Group fitness classes</h4>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="assets/img/services-4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Body building</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
                            facilisis.</p>
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="assets/img/services-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Strength training</h4>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                        <a href="#">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <div class="container feature pt-5">
        <div class="d-flex flex-column text-center mb-5">
            <div class="center">
                <h3 class="text-primary font-weight-bold">Why Choose Us?</h3>
                <h2 class="display-4 font-weight-bold">Benefits of Joining Our GYM</h2>
            </div>
        </div>
        <div class="row ">
            <div class=" col-md-6 mb-5 ">
                <div class="card row align-items-center me-2">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="assets/img/feature-1.jpg" alt="Image">
                        <i class="flaticon-barbell"></i>
                    </div>
                    <div class="col-sm-7">
                        <h4 class="font-weight-bold">Videos Instruction</h4>
                        <p>Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                            invidunt, dolore tempor diam ipsum takima erat tempor</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 mb-5 ">
                <div class="card row align-items-center me-2">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="assets/img/feature-2.jpg" alt="Image">
                        <i class="flaticon-training"></i>
                    </div>
                    <div class="col-sm-7">
                        <h4 class="font-weight-bold">Training Calendar</h4>
                        <p>Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                            invidunt, dolore tempor diam ipsum takima erat tempor</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 mb-5 ">
                <div class="card row align-items-center me-2">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="assets/img/feature-3.jpg" alt="Image">
                        <i class="flaticon-trends"></i>
                    </div>
                    <div class="col-sm-7">
                        <h4 class="font-weight-bold">Free Apps & WiFi</h4>
                        <p>Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                            invidunt, dolore tempor diam ipsum takima erat tempor</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 mb-5 ">
                <div class="card row align-items-center me-2">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="assets/img/feature-4.jpg" alt="Image">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="col-sm-7">
                        <h4 class="font-weight-bold">Community Support</h4>
                        <p>Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                            invidunt, dolore tempor diam ipsum takima erat tempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--services area ends-->

    <!--Pricing area starts-->

    <div id="pricing" class="pricing-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header center">
                        <h2>Our Pricing</h2>
                        <p class="line"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="single-pricing">
                        <h2>Class Drop-in</h2>
                        <p class="line3"></p>
                        <p class="price-section">
                            <sup>₹</sup>
                            <span>4900</span>
                            <!-- <sub>/mo</sub> -->
                        </p>
                        <ul class="deals">
                            <!-- <li>4 Days a week</li> -->
                            <li>No Dedicated Trainer</li>
                            <li>No Diet Plan</li>
                            <li>Morning Batch only</li>
                            <li>No Yoga Classes</li>
                        </ul>
                        <a href="membership.html">Enroll Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="single-pricing active">
                        <h2>12 Months Unlimited</h2>
                        <p class="line3"></p>
                        <p class="price-section">
                            <sup>₹</sup>
                            <span>9900</span>
                            <!-- <sub>/mo</sub> -->
                        </p>
                        <ul class="deals">
                            <!-- <li>6 Days a week</li> -->
                            <li>Dedicated Trainer</li>
                            <li>Diet Plan included</li>
                            <li>Morning & evening Batch</li>
                            <li>Yoga Classes</li>
                        </ul>
                        <a href="membership.html">Enroll Now</a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="single-pricing ">
                        <h2>6 Months Unlimited</h2>
                        <p class="line3"></p>
                        <p class="price-section">
                            <sup>₹</sup>
                            <span>7900</span>
                            <!-- <sub>/mo</sub> -->
                        </p>
                        <ul class="deals">
                            <!-- <li>5 Days a week</li> -->
                            <li>Dedicated Trainer</li>
                            <li>Diet Plan included</li>
                            <li>Morning & evening Batch</li>
                            <li>No Yoga Classes</li>
                        </ul>
                        <a href="membership.html">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Pricing area ends-->

    <!-- Counter -->


    <div class="container-fluid counter-div bg-dark facts p-5 my-5">
        <div class="row gx-5 gy-4 py-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-star fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Experience</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">15</h1><span>years</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-users fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Our Trainers</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">100</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-check fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Complete Project</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">2,523</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-coffee fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Happy Clients</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">10000</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <hr>




    <!-- Footer -->


{{>footer}}

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js'></script>
    
    <script>  
    $('[data-toggle="counter-up"]').counterUp({
        delay: 10,
        time: 2000
    });
    </script>
    <script type="text/javascript" src="assets/js/index.js"></script>

</body>

</html>