<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="assets/css/bootstrap-grid.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
{{>navbar}}



<section>
    <div class="contact-section-container p-4 container">
        <h2>Timetable</h2>
        <div class="table">
            <table class="">
                <thead class="text-white text-center">
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th class=" text-white align-middle">6.00am - 8.00am</th>
                        <td>
                            <h5>Cardio</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Crossfit</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Power Lifting</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Cardio</h5>
                        </td>
                    </tr>
                    <tr>
                        <th class=" text-white align-middle">10.00am - 12.00am</th>
                        <td></td>
                        <td>
                            <h5>Power Lifting</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Cardio</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Crossfit</h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class=" text-white align-middle">5.00pm - 7.00pm</th>
                        <td>
                            <h5>Crossfit</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Power Lifting</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Cardio</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Crossfit</h5>
                        </td>
                    </tr>
                    <tr>
                        <th class=" text-white align-middle">7.00pm - 9.00pm</th>
                        <td></td>
                        <td>
                            <h5>Cardio</h5> 
                        </td>
                        <td></td>
                        <td>
                            <h5>Crossfit</h5>
                        </td>
                        <td></td>
                        <td>
                            <h5>Power Lifting</h5>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
    <!-- Class Timetable Section End -->

{{>footer}}


    <script type="text/javascript" src="assets/js/index.js"></script>
</body>

</html>